html {
    height: 100%;
    background: #636FA4;
    background-repeat: no-repeat;
}

body {
    height: 100%;
    background: #E8CBC0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #636FA4, #E8CBC0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

.logo {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: #3b5998 !important;
    font-size: xx-large;
}

.user-menu {
    color: #3b5998 !important;
}

.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(231, 231, 231, 0.5);
}

.card {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.site-image {
    width: 95px;
}

@media only screen and (max-width: 360px) {
    .site-image {
        width: 43px;
    }

    .card {
        width: 64px;
        height: 64px;
        margin: 5px !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
}

.add-new-card {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 25px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
}

.add-new-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.add-new-notes {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 25px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
}

.add-new-notes:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.menu-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
}

.menu-btn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
    border-color: transparent;
    visibility: hidden;
}

.delete-button:hover {
    border-color: transparent;
    background: white;
}

.invisible-button {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .0;
    border-color: transparent;
}

.grid {
    padding: 0px;
    margin: 0 auto;
}

.grid-sizer,
.grid-item {
    float: left;
    width: 150px;
    height: 200px;
    margin-top: 10px;
}

.grid-item--width2 {
    width: 200px;
}

.grid-item--height2 {
    height: 200px;
}

.sticky {
    background: #fff;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    border-radius: 2px;
    border: 0px;
    font-family: 'Roboto Slab', serif;
}

.sticky:focus {
    outline: none;
}

.sticky:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.custom-panel-default {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(154, 126, 126, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
}

.custom-panel-heading {
    color: #3b5998 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    font-family: 'Pacifico', cursive;
}

.glow-success {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
    text-shadow: 0 0 10px #84ff00;
}

.glow-error {
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;
    text-shadow: 0 0 10px #ff4f3d;
}




/*# sourceMappingURL=style.css.map */
